.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Oxanium", serif;
    text-align: center;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.contant_box_404 {
    margin-top: -50px;
}

.link_404 {
    color: #fff;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
}

.link_404:hover {
    background: #2e8f27;
    color: #fff;
}